{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
          <h3 class="card-title">Reset Your Password</h3>
          <p class="card-text">Please enter (and confirm) your new password.</p>
          <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.new_password1.id_for_label }}">New Password</label>
              <input type="{{ form.new_password1.field.widget.input_type }}" class="form-control" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}" placeholder="Enter new password">
            </div>
            <div class="form-group">
              <label for="{{ form.new_password2.id_for_label }}">Confirm Password</label>
              <input type="{{ form.new_password2.field.widget.input_type }}" class="form-control" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}" placeholder="Confirm new password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
          </form>
          {% else %}
          <h3 class="card-title">Password Reset Link Invalid</h3>
          <p class="card-text">The password reset link you provided is invalid. Please request a new password reset.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
